.gridContainer {
  width: 960px;
  margin: auto;
}
#headerLogo {
  float: left;
  margin-right: 10px;
}
#headerLogoText {
  display: inline-block;
  margin: 0;
}
.socialIcons {
  display: inline-block;
  float: right;
}
.socialIcons img {
  margin-left: -2px;
}
#pinterestLogo {
  margin-right: 10px;
}
#header {
  font-family: 'Yellowtail', cursive;
  font-size: 37px;
  line-height: 30px;
  font-weight: 700;
}
#subHeader {
  font-size: 10px;
  line-height: 10px;
  font-family: 'Abel', sans-serif;
  margin-left: 4px;
  color: #AAA;
}
.border {
  width: 100%;
  height: 13px;
  background: url("assets/border.png");
  margin-top: 30px;
}
.nav {
  margin: 30px 0;
}
.articleHeader {
  margin-top: 35px;
}
.articleTitle {
  margin: 0 0 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #222;
  line-height: 1;
}
.articleSubtitle {
  line-height: 1;
  margin: 0;
  color: #AAA;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}
.floatRight {
  float: right;
}
#articleheroImg {
  width: 100%;
  margin: 30px 0;
}
.articleParagraphs {
  color: #555;
  margin: 0 0 30px 0;
  font-size: 21px;
  text-indent: 30px;
}
.ingredientList {
  background: url("assets/list-bg.png");
  padding: 38px 70px;
  border: 1px solid #edead9;
  border-top: none;
  box-shadow: 0 14px 5px -5px rgba(0,0,0,0.1), 0 3px 0 -2px #c5c4b6, 0 2px 0 #fff, 0 7px 0 -4px #c5c4b6, 0 4px 0 #fff, 0 11px 0 -6px #c5c4b6;
  margin-bottom: 20px;
}
.ingredientList li {
  line-height: 31px;
  width: 43%;
  color: #71664f;
  display: inline-table;
  background: url("assets/checkBox.svg") no-repeat left 6px;
  background-size: 13px 14px;
  padding: 0 25px;
  font-size: 24px;
}
.ingredientList .crossedOff {
  text-decoration: line-through;
  background: url("assets/checkedBox.svg") no-repeat left 6px;
  background-size: 13px 14px;
}
.footer {
  padding-top: 35px;
}
.bottomBorder {
  margin-top: 50px;
}
